[user]
	name= William Ahrons
	email= william.ahrons@gmail.com

[core]
	editor= vim
	excludesfile= ~/.gitignore_global

[credential]
	helper=cache

[diff]
	tool=vimdiff

[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX

[color]
	ui= always
	
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "diff-highlight"]
	oldNormal = "red bold"
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"

[color "branch"]
	current = yellow reverse
	#local = blue reverse
	#remote = green
[iterative]
	diffFilter = "diff-so-fancy"

[alias]
	c = commit -am
	cb = "!f(){  git branch | grep \\* | sed 's/[^a-zA-Z0-9-//]//g' | sed 's/[*m]//g'; };f" 
	up = "!f(){ git pull origin $1; };f"
	up1 = "!f() { git config --local color.branch.current \"\"; git up $(git cb); git config --local --unset color.branch.current; };f"
	upr = pull --rebase
	rc = rebase --continue 
	p = push
	s = status -s
	sb = status -sb
	sclone = clone --depth=1
	co = checkout
	df = diff --color --color-words --abbrev
	lg = log --color --graph
	lgf = log --name-only --oneline
	st = stash
	master = "!f(){ git go master; git up; };f"
	go = "!f(){ git checkout $1 $2; };f"
	gob = "!f(){ git go -b $1; };f"
	undo-commit = reset --soft HEAD~1
	undo-commit-hard = reset --hard HEAD~1
	unstage = reset --soft HEAD 
	branchs = branch --all
	remotes= remote -v
	config-local-l = config --local --list
	config-global-l = config --global --list

	edit-unmerged = !"f() { git ls-files --unmerged | cut -f2 | sort -u ; }; `git var GIT_EDITOR` `f`"

[url "https://"]
	insteadOf = git://
