[user]
	name= William Ahrons
	email= william.ahrons@gmail.com
[core]
	editor= vim
[credential]
	helper=cache
[diff]
	tool=vimdiff


[alias]
	c = commit -am
	up = pull
	upr = pull --rebase
	rc = rebase --continue 
	p = push
	s = status -s
	sa = status -sa
	sclone = clone --depth=1
	co = checkout
	df = diff --color --color-words --abbrev
	lg = log --color --graph
	st = stash
